{
  "parserOptions": {
    "parser": "typescript-eslint-parser"
  },
  "plugins": [
    "typescript",
    "prettier"
  ],
  "extends": [
    "framelunch",
    "typescript",
    "plugin:vue/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "tools/webpack/development.js"
      }
    }
  },
  "rules": {
    "no-console": "warn",
    "require-jsdoc": "off",
    // 未使用変数 警告 ただし、先頭に_のついている変数、引数はOKとする
    "no-unused-vars": [
      "warn",
      {
        "caughtErrors": "all",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    // thisを参照しないクラスメソッドはstaticでなければいけない 無効化 オブジェクト指向ってそういうもんではないと思う
    "class-methods-use-this": "off",
    // exportが1件だけならdefaultにする 無効化 気にしない
    "import/prefer-default-export": "off",
    "import/extensions": ["error", "ignorePackages", { ".ts": "never" }],

    /*
     * eslint with typescript problems
     */
    "no-undef": "off",

    /*
     * with prettier
     */
    "prettier/prettier": "warn"
  },
  "overrides": {
    "files": "src/scripts/**/*.vue",
    "rules": {
      "no-unused-vars": "off",
      /*
       * vue
       */
      "vue/max-attributes-per-line": ["error", {
        "singleline": 3,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }]
    }
  }
}
