@import "libraries-frontend-framelunch/css/_reset.css";
@import "./_variables.css";
@import "./_keyframes.css";
@import "libraries-frontend-framelunch/css/_mixins.css";

body {
    font-family: var(--fontFamily-base);
}

/* stylelint-disable-next-line */
*,
*::before,
*::after {
    box-sizing: border-box;
}

pre {
    font-family: var(--fontFamily-mono);
    font-weight: var(--fontWeight-normal);
}

.-hidden-pc {
    @media (--not-sp) {
        display: none !important;
    }
}

.-hidden-sp {
    @media (--sp) {
        display: none !important;
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
